# /etc/dbguard/agent.env on a MySQL host
DBGUARD_NODE=mysql-a1
DBGUARD_RS=rs1
DBGUARD_SERVER_ID=11
DBGUARD_SEMISYNC=1
DBGUARD_MANAGER_URL=http://dbguard-manager.internal:9090
DBGUARD_MYSQLD_CMD=/usr/sbin/mysqld --user=mysql
MYSQL_ROOT_PASSWORD=change-me
